#ImagenPrograma{
    width: 100%;
}
#InstitucionLogo{
    width: 100px;
    height: 100px;
}
.info .content, .meta-list{
    margin: 0px !important;
}
.course-detail-header ul.meta-list li:nth-last-child(2), .course-detail-header ul.meta-list li:last-child {
    border-right: 1px solid #E5E5E5;
    margin-right: 20px;
    padding-right: 20px;
}