<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Se parte del equipo Mockingbird</h4>
</div>

<div class="modal-body">
						
	<div class="row gap-20">
	
		<div class="col-xs-6 col-md-6">
			<button class="btn btn-facebook btn-block" style="height: 150px">
				<a href="../../RegistroAnonimo/Registro_Usuario/Registro_Usuario.html" style="color:white">
					<i class="fa fa-user fa-4x"></i>
					<h3 style="color: white">Usuario</h3>
				</a>
			</button>
		</div>

		<div class="col-xs-6 col-md-6">
			<button class="btn btn-google-plus btn-block" style="height: 150px" >
				<a href="../../RegistroAnonimo/Registro_Institucion/Registro_Institucion.html" style="color:white">
					<i class="fa fa-institution fa-4x"></i>
					<h3 style="color: white">Institución</h3>
				</a>
			</button>
		</div>
		
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="login-box-box-action">
				¿Ya estas registrado? <a data-toggle="modal" href="#loginModal">Inicia Sesión</a>
			</div>
		</div>
		
	</div>

</div>

<div class="modal-footer text-center">
</div>