<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Captura tu Información</h4>
</div>

<div class="modal-body">
						
	<div class="row gap-30">
	
        <form class="contact-form-wrapper" data-toggle="validator">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtNombre_Modal" data-english="Full Name" data-espanol="Nombre Completo">
                            Nombre Completo <span class="font10 text-danger"
                                                  data-english="required">(requerido)</span>
                        </label>
                        <input id="txtNombre_Modal" type="text" class="form-control"
                               data-error="*" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtCorreo_Modal" data-english="Email" data-espanol="Correo ">
                            Correo <span class="font10 text-danger"
                                         data-english="(required)" data-espanol="(requerido)">(requerido)</span>
                        </label>
                        <input id="txtCorreo_Modal" type="email" class="form-control"
                               data-error="*" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtTelefono_Modal" data-english="Phone" data-espanol="Telefono">
                            Telefono <span class="font10 text-danger"
                                           data-english="required">(requerido)</span>
                        </label>
                        <input id="txtTelefono_Modal" type="text" class="form-control"
                               data-error="*" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cmbPais_Modal" data-english="Country" data-espanol="País">
                            País <span class="font10 text-danger"
                                       data-english="(required)" data-espanol="(requerido)">(requerido)</span>
                        </label>
                        <select id="cmbPais_Modal" class="form-control"
                                data-error="*" required></select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cmbGrado_Modal" data-english="Grade" data-espanol="Grado">
                            Grado <span class="font10 text-danger"
                                        data-english="(required)" data-espanol="(requerido)">(requerido)</span>
                        </label>
                        <select id="cmbGrado_Modal" class="form-control"
                                data-error="*" required></select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFechaNacimiento_Modal" data-english="Birthday" data-espanol="Fecha Nacimiento">
                            Fecha Nacimiento <span class="font10 text-danger"
                                                   data-english="(required)" data-espanol="(requerido)">(requerido)</span>
                        </label>
                        <input id="txtFechaNacimiento_Modal" type="date" class="form-control" data-error="*" required />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtNombreUsuario_Modal" data-english="Username" data-espanol="Nombre Usuario">
                            Nombre Usuario <span class="font10 text-danger"
                                                 data-english="required">(requerido)</span>
                        </label>
                        <input id="txtNombreUsuario_Modal" type="text" class="form-control"
                               data-error="*" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        
        </form>
		
	</div>

</div>

<div class="modal-footer text-center">
    <div class="row">
        <div class="col-sm-12">
            <button id="btn_Actualizar" type="button" class="btn btn-primary mt-5 pull-right"
                    data-english="Update" data-espanol="Actualizar">
                Actualizar
            </button>
        </div>
    </div>
</div>