<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Inicia Sesión en tu cuenta</h4>
</div>

<div class="modal-body">
	<div class="row gap-20">
		
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="form-group"> 
				<label>Nombre de Usuario</label>
				<input id="txtNombreUsuario_Modal" class="form-control" type="text"> 
			</div>
		
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-12">
		
			<div class="form-group"> 
				<label>Contraseña</label>
				<input id="txtPassword_Modal" class="form-control" type="text"> 
			</div>
		
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="checkbox-block"> 
				<input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" value="First Choice" type="checkbox"> 
				<label class="" for="remember_me_checkbox">Recordar</label>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6">
			<div class="login-box-link-action">
				<a data-toggle="modal" href="#forgotPasswordModal">¿Olvidaste la contraseña?</a> 
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="register-box-box-action">
				¿Aun no tienes cuenta? <a data-toggle="modal" href="javascript:void(0)" class="registerModal">Registrate</a>
			</div>
		</div>
	</div>
</div>


<div class="modal-footer text-center">
	<button id="btnLogIn" type="button" class="btn btn-primary">Iniciar Sesión</button>
	<button id="btnClose" type="button" data-dismiss="modal" class="btn btn-dark">Cerrar</button>
</div>