<script id="Program_Comments" type="text/x-handlebars-template">
{{#each Comment}}
<li class="clearfix">
    <div class="image img-circle">
        <img class="img-circle" src="{{Foto}}" alt="Man" />
    </div>
    <div class="content">
        <div class="row gap-20 mb-0">
            <div class="col-xs-12 col-sm-9">
                <h6>{{Nombre}}</h6>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="review-date">{{FechaAlta}}</p>
            </div>
        </div>
        <div class="review-text">
            {{Comentario}}
        </div>
        <div class="review-other">
            <div class="row gap-20 mb-0">
                <div class="col-xs-12">
                    <button class="pull-right" data-comentario="{{ComentarioId}}"> <i class="fa fa-flag"></i> Report</button>
                </div>
            </div>
        </div>
    </div>
</li>
{{/each}}
</script>