<script id="Courses" type="text/x-handlebars-template">
{{#each Element}}
<div class="GridLex-col-4_mdd-6_xs-6_xss-12">
    <div class="course-item">
        <a>
            <div class="course-item-image">
                <img src="../../images/app1.png{{ImagenPrograma}}" alt="Image" class="img-responsive" />
            </div>
            <div class="course-item-top clearfix">
                <div class="course-item-instructor">
                    <div class="image">
                        <img src="{{Logo}}../../images/app1.png" alt="Image" class="img-circle" />
                    </div>
                    <span data-institucionid="{{intInstitucionId}}" style="text-align: right">{{strNombreInstitucion}}</span>
                </div>
            </div>
            <div class="course-item-content clearfix">
                <h3 class="text-primary">{{strTitulo}}   <small data-tipoprogramaid="{{intTipoProgramaId}}">{{strTipoPrograma}}</small></h3>
            </div>
            <div class="course-item-bottom clearfix">
                <p>{{strDescripcionCorta}}</p>
            </div>
        </a>
        <a data-programaid="{{intProgramaId}}" class="btn btn-primary btn-sm btn-inverse anchor mt-10" data-english="Information" data-espanol="Información">Información</a>
    </div>
</div>
{{/each}}
</script>