<div id="footer_Annon">
    <div class="footer-wrapper scrollspy-footer">
        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 mb-30">
                        <div class="footer-logo">
                            <a href="#home"><i class="education-icon-book7"></i> Edu<strong class="uppercase">Tute</strong></a>
                        </div>
                        <p class="about-us-footer">Abilities or he perfectly pretended so strangers be exquisite.
                            Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw.
                            Excellent so to no sincerity smallness.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 mb-30">
                        <div class="newsletter-footer">
                            <form action="#" method="post" class="row">
                                <div class="col-xs-12 col-sm-12 col-md-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <input type="submit" class="btn btn-submit" value="SUBSCIBE">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="menu-footer">
                            <li><a href="#">About</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Directory</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 mb-30">
                        <div class="social-footer clearfix">
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus "></i></a>
                            <a href="#"><i class="fa fa-codepen"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-jsfiddle"></i></a>
                            <a href="#"><i class="fa fa-stack-overflow"></i></a>
                        </div>
                        <p class="footer-address">11/87, Santisuk Road, T. Sabarang, A.Muang, Pattani 94000 <br /><span
                                class="block text-white font20 font700 line20 mt-5 mb-5">+66 74 665 855</span>support@edutute.com</p>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p class="copy-right">&#169; Copyright 2016 EduTUTE - Responsive Template.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul class="secondary-footer-menu clearfix">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Sign-in</a></li>
                            <li><a href="#">Sign-up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>