
<script id="Area_Category" type="text/x-handlebars-template">
    {{#each Element}}
    {{#ifEquals id 1}}
    <div class="GridLex-col-4_sm-4_xs-6_xss-12">

        <div class="course-category-icon">
            <div class="icon text-primary">
                <i class="{{strIcono}}"></i>
            </div>
            <h4><a href="#">{{strDescripcion}}</a></h4>
            <div class="sub-category">
                {{/ifEquals}}
                {{#ifEquals intTipo 0}}

            </div>
        </div>
    </div>
    <div class="GridLex-col-4_sm-4_xs-6_xss-12">

        <div class="course-category-icon">
            <div class="icon text-primary">
                <i class="{{strIcono}}"></i>
            </div>
            <h4><a href="#">{{strDescripcion}}</a></h4>
            <div class="sub-category">
                {{/ifEquals}}
                {{#ifEquals intTipo 1}}
                <a href="#">{{strDescripcion}}</a>
                {{/ifEquals}}
                {{#if @last}}
            </div>
        </div>
    </div>
    {{/if}}

    {{/each}}
</script>

<script id="Area_Courses" type="text/x-handlebars-template">
    {{#each Element}}
    <div class="GridLex-col-3_mdd-4_sm-6_xs-6_xss-12">
        <div class="course-item">
            <a href="#">
                <div class="course-item-image">
                    <img src="images/course-item/01.jpg{{ImagenPrograma}}" alt="Image" class="img-responsive" />
                </div>
                <div class="course-item-top clearfix">
                    <div class="course-item-instructor">
                        <div class="image">
                            <img src="{{Logo}}../../images/app1.png" alt="Image" class="img-circle" />
                        </div>
                        <span data-institucionid="{{intInstitucionId}}" style="text-align: right">{{strNombreInstitucion}}</span>
                    </div>
                </div>
                <div class="course-item-content clearfix">
                    <h3 class="text-primary">{{strTitulo}}   <small data-tipoprogramaid="{{intTipoProgramaId}}">{{strTipoPrograma}}</small></h3>
                </div>
                <div class="course-item-bottom clearfix">
                    <p>{{strDescripcionCorta}}</p>
                </div>
            </a>
            <a data-programaid="{{intProgramaId}}" class="btn btn-primary btn-sm btn-inverse anchor mt-10" data-english="Information" data-espanol="Información">Información</a>
        </div>
    </div>
    {{/each}}
</script>