<script id="Institution_Contact" type="text/x-handlebars-template">
    {{#each Element}}
    <li class="clearfix">
        <a href="#">
            <div class="row">
                <div class="image">
                    <img src="{{Foto}}../../images/app1.png" alt="Institution Contact" />
                </div>
                <div class="content">
                    <h6>{{strNombre}}</h6>
                    {{#if strCorreo}}
                    <span><i class="fa fa-envelope"></i> {{strCorreo}}</span>
                    {{/if}}
                    {{#if strTelefono}}
                    <span><i class="fa fa-phone"></i> {{strTelefono}}</span>
                    {{/if}}
                </div>
            </div>
           
        </a>
    </li>
    {{/each}}
</script>