<script id="Related_Institution" type="text/x-handlebars-template">
    <div class="teacher-item-sm-02 clearfix">
            <a href="#">
                <div class="image">
                    <img src="{{Logo}}" alt="Image" />
                </div>
                <div class="content">
                    <h3>{{Nombre}}</h3>
                    <p class="labeling">{{Pais}}</p>
                </div>
            </a>
        </div>
</script>