﻿<script id="Institution_li" type="text/x-handlebars-template">
    {{#each Element}}
    <li class="clearfix">
        <div class="GridLex-grid-center" href="#">
            <div class="GridLex-col-2_sm-2_xs-2_xss-2">
                <i class="fa fa-3x fa-bell"></i>
            </div>
            <div class="GridLex-col-10_sm-10_xs-10_xss-10">
                <h6>{{strNombre}}</h6>
                <span class="price">{{strCategorias}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</script>

<script id="Application_li" type="text/x-handlebars-template">
    {{#each Element}}
    <li class="clearfix">
        <div class="GridLex-grid-center" href="#">
            <div class="GridLex-col-2_sm-2_xs-2_xss-2">
                <i class="fa fa-3x fa-graduation-cap"></i>
            </div>
            <div class="GridLex-col-10_sm-10_xs-10_xss-10">
                <h6>{{strTitulo}}</h6>
                <span class="price">{{strStatus}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</script>

<script id="Program_li" type="text/x-handlebars-template">
    {{#each Element}}
    <li class="clearfix">
        <div class="GridLex-grid-center" href="#">
            <div class="GridLex-col-2_sm-2_xs-2_xss-2">
                <i class="fa-3x glyphicon glyphicon-apple"></i>
            </div>
            <div class="GridLex-col-10_sm-10_xs-10_xss-10">
                <h6>{{strNombre}}</h6>
                <span class="price">{{strInstitucion}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</script>